@import "tailwindcss";
nav {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  background-color: #F8F9FF;
}
nav ul li{
  cursor: pointer;
  color: #45464D;
}

nav ul li:hover {
  color: black;
}


body {
  font-family: "Inter", sans-serif;
}

.h1,h2 {
  font-family: "Libertinus Serif", serif;
  font-weight: 700;
}
