@import "tailwindcss";
nav {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  background-color: #F8F9FF;
}
nav ul li{
  cursor: pointer;
  color: #45464D;
}


body {
  font-family: "Inter", sans-serif;
}